/* impotando la fuente de la pagina */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/* aplicando la fuente a la pagina */
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--col-white);
}

/* seteando los estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* creando variables para los colores */
:root{
    --col-primary: #FE9A22;
    --col-secondary: #d5fafc;
    --col-secondary-hover: #a4c2c4;
    --col-black: #111;
    --col-white: #f3f3f3;
    --col-hover: #888;
    --col-hover-2: #383838;
    --col-hover-3: #a1a1a1;
    --col-rgba: rgb(0, 0, 0, 0.6);
    --col-rgba-2: rgb(0, 0, 0, 0.1);
    --col-white-2: #e7e0e0;
    --col-green: #26b621;
    --col-green-hover: #1e8b1b;
}


/* header */

header{
    padding: 30px;
}

@media screen and (min-width:1200px) {
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}

@media screen and (min-width:320px) and (max-width:420px) {
    header{
        padding: 15px;
    }
}

/* points_content */

.points{
    display: flex;
    margin: 1.5em 0;
}

/* points_container */

.points_title{
    font-size: 2em;
    font-weight: 500;
    color: var(--col-black);
}

.points_paragraph{
    font-size: 1.4em;
    font-weight: 500;
    color: var(--col-black);
    margin: .5em 0 .8em;
}

/* descripition_points */

.description_points{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.description_texts{
    width: 50%;
    margin-right: 2em;
}

.h2_description{
    margin: .8em 0;
    font-size: 1.2em;
    font-weight: 400;

}

.img_container{
    background-image: url(imagenes/puntos_img.jpg);
    background-size: cover;
    height: 35em;
    width: 35em;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2em;
    border: 15px solid var(--col-white-2);
}

.img_container:hover{
    border: 15px solid var(--col-hover-3);
    transform: scale(.9);
}

@media screen and (max-width:600px) {
    .h2_description{
        font-size: 1.1em;
    }
}

@media screen and (max-width:1300px) {
    .points{
      flex-direction: column;
    }
    
    .description_points{
        display: flex;
        flex-direction: column;
    }

    .description_texts{
        width: 100%;
    }

    .img_container{
        margin-top: 2em;
    }

}

@media screen and (min-width:1200px) {
    .points_container{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}

.points_box{
    background-color: var(--col-black);
    box-shadow: 2px 2px 10px var(--col-rgba);
    border-radius: 5em;
    width: 6em;
    height: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.8em;
    margin: 0 1.5em;
}

.points_box > h2{
    color: var(--col-white);
    font-size: 1.6em;
    font-weight: 500;
}

